body {
    margin: 0;
    padding: 30px;
    background: linear-gradient(to right, #b9d9bf, #e1c1c6); 
}

.faculty-heading { 
    text-align: center;
    font-size: 60px;
    color: #2F4F4F; 
}

.faculty-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 5px solid #f29f06; 
    border-radius: 12px;
    box-shadow: 0px 12px 18px rgba(0, 0, 15, 0.6);
}

.faculty-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-width: 800px;
    background: #a7d4c4;
    border: 5px solid #E6E6FA;
    border-radius: 16px;
    box-shadow: 0px 12px 20px rgba(0, 0, 15, 0.5);
    margin: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.faculty-card:hover {
    border: 2px solid #3d9f94; 
    background: radial-gradient(#98e1fb, #d39bb0); 
    transform: scale(1.05);
}
.list-style {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}
.list-style li {
    background: linear-gradient(to right, #c4b5a6, #D0F0C0);
    color: #2F4F4F;
    padding: 10px 12px 10px 40px;
    box-shadow: 0px 12px 30px rgba(0, 0, 15, 0.3);
    position: relative;
    border-radius: 16px;
}
.list-style li::before {
    content: '✔';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    height: 20px;
    width: 20px;
    color: white;
    background-color: #30bea7; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 50%;
}

.list-style li:hover {
    transform: scale(1.1);
    box-shadow: 0px 15px 40px rgba(46, 139, 87, 0.5); 
}
